*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main
{
    display: grid;
    grid-template-areas: "h h h h h h h"
                         "n n n n n n n"
                         "a a a a a as as"
                         "f f f f f f f";
    grid-template-columns: repeat(7, 1fr);
    max-width: 1000px;
    margin: auto;
}

header
{
    grid-area: h;
}

header h1
{
    color: green;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

nav
{
    grid-area: n;
}

nav ul
{
    display: grid;
    grid-template-columns: 100px 250px 100px;
    background-color: green;
    padding: 20px 10px 20px 10px;
}

nav li
{
    list-style-type: none;
    text-align: center;
}

nav a
{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}

article
{
    grid-area: a;
    margin-right: 15px;
    margin-left: 15px;
}

article ol
{
    margin-left: 20px;
}

article li
{
    margin-top: 10px;
    text-align: justify;
}

aside
{
    grid-area: as;
    margin-top: 5px;
}

img
{
    width: 100%;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
}

/* index formázás */

.fo_tarolo
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tarolo
{
    margin: 0 auto;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: lightgray;
}

.tartalom
{
    padding: 20px;
    background-color: white;
    text-align: justify;
    margin: 0px;
}

.nev
{
    text-align: left;
    color: green;
    padding: 0px;
    margin-left: 5px;
}


.tarolo img
{
    width: 100%;
    margin: auto;
}

.ures
{
    height: 20px;
}


/* ev_autoi formázás */

table
{
    width: 100%;
    text-align: left;
    margin: 10px;
    border-collapse: collapse;
}

tr
{
    padding: 0px;
    margin: 0px;
}

tr th
{
    border-bottom: 2px solid black;
    padding: 10px;
}

tr:nth-child(odd)
{
    background-color: white;
}

tr:nth-child(even)
{
    background-color: lightgray;
}

tr td
{
    padding: 10px;
}



footer
{
    grid-area: f;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) 
{
    main
    {
        grid-template-areas: "h h"
                             "n n"
                             "a a"
                             "as as"
                             "f f";
        grid-template-columns: 1fr;
    }
    nav ul
    {
        grid-template-columns: 1fr;
        padding: 0px;
    }
    nav li
    {
        padding-top: 10px;
    }

    .fo_tarolo
    {
        grid-template-columns: 1fr;
    }

}